
<launch>
	<group ns = "robot_1">
	  <node pkg="deployment_anchor" type="robot.py" name="ros_robot_1" output="screen">
	    <param name="radius" value="150" />
	    <param name="id" value="1" />
	    <param name="config_file" value="/home/elerson/NetworkedRobotsProject/configs/data.yaml" />
	  </node> 

	</group>
</launch>
