<launch>
<include file="$(find deployment_cefsm)/launch/scripts2/robot0.launch" />
<include file="$(find deployment_cefsm)/launch/scripts2/robot1.launch" />
<include file="$(find deployment_cefsm)/launch/scripts2/robot2.launch" />
<include file="$(find deployment_cefsm)/launch/scripts2/robot3.launch" />
</launch>
